<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="638995">  <td>21/04/16 00:30:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAnAccount.create_Account_With_Invalid_EmailId(java.lang.reflect.Method)[pri:0, instance:TestCases.CreateAnAccount@2e4b8173]">create_Account_With_Invalid_EmailId</td> 
  <td>main@447981768</td>   <td></td> </tr>
<tr bgcolor="638995">  <td>21/04/16 00:30:31</td>   <td>-11086</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAnAccount.openAppOnBrowser()[pri:0, instance:TestCases.CreateAnAccount@2e4b8173]">&gt;&gt;openAppOnBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@447981768</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/04/16 00:30:31</td>   <td>-11097</td> <td title="&gt;&gt;TestCasesBase.setUp()[pri:0, instance:TestCases.CreateAnAccount@2e4b8173]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@447981768</td>   <td></td> </tr>
<tr bgcolor="638995">  <td>21/04/16 00:30:51</td>   <td>8654</td> <td>&nbsp;</td><td title="&lt;&lt;CreateAnAccount.tearDown()[pri:0, instance:TestCases.CreateAnAccount@2e4b8173]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@447981768</td>   <td></td> </tr>
</table>
