<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCases.TC_Contact</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_Click_On_Contact_Tab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>methodLevelSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestCases.TC_AboutPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_click_On_Digital_EmpowerMent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_Click_On_About_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_Click_On_Careers_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_Click_On_Join_Us</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_Click_On_Uncover_Our_Secrets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_click_On_Our_Team</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>methodLevelSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
