<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>N11 Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3b3e6">  <td>21/01/20 19:44:12</td>   <td>0</td> <td title="&gt;&gt;TestCasesBase.setUp()[pri:0, instance:TestCases.TC_Contact@6a400542]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:12</td>   <td>5</td> <td title="&gt;&gt;TC_AboutPage.testOpenApplication()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;testOpenApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="cd70bf">  <td>21/01/20 19:44:17</td>   <td>5848</td> <td title="&gt;&gt;TC_Contact.testOpenApplication()[pri:0, instance:TestCases.TC_Contact@6a400542]">&gt;&gt;testOpenApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:22</td>   <td>10818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:22</td>   <td>10820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_Click_On_About_Link(java.lang.reflect.Method)[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">test_Click_On_About_Link</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:33</td>   <td>21542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:33</td>   <td>21542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_Click_On_Uncover_Our_Secrets(java.lang.reflect.Method)[pri:1, instance:TestCases.TC_AboutPage@69b2283a]">test_Click_On_Uncover_Our_Secrets</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:46</td>   <td>34904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:44:46</td>   <td>34905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_Click_On_Join_Us(java.lang.reflect.Method)[pri:2, instance:TestCases.TC_AboutPage@69b2283a]">test_Click_On_Join_Us</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:10</td>   <td>58414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:10</td>   <td>58415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_click_On_Digital_EmpowerMent(java.lang.reflect.Method)[pri:3, instance:TestCases.TC_AboutPage@69b2283a]">test_click_On_Digital_EmpowerMent</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:18</td>   <td>66885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:18</td>   <td>66885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_click_On_Our_Team(java.lang.reflect.Method)[pri:4, instance:TestCases.TC_AboutPage@69b2283a]">test_click_On_Our_Team</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:27</td>   <td>75220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.methodLevelSetup()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:27</td>   <td>75221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.test_Click_On_Careers_Link(java.lang.reflect.Method)[pri:5, instance:TestCases.TC_AboutPage@69b2283a]">test_Click_On_Careers_Link</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="cd70bf">  <td>21/01/20 19:45:35</td>   <td>83905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_Contact.methodLevelSetup()[pri:0, instance:TestCases.TC_Contact@6a400542]">&gt;&gt;methodLevelSetup</td> 
<td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="cd70bf">  <td>21/01/20 19:45:35</td>   <td>83905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Contact.test_Click_On_Contact_Tab(java.lang.reflect.Method)[pri:0, instance:TestCases.TC_Contact@6a400542]">test_Click_On_Contact_Tab</td> 
  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="8cf7ab">  <td>21/01/20 19:45:41</td>   <td>89243</td> <td title="&lt;&lt;TC_AboutPage.tearDown()[pri:0, instance:TestCases.TC_AboutPage@69b2283a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
<tr bgcolor="cd70bf">  <td>21/01/20 19:45:42</td>   <td>89997</td> <td title="&lt;&lt;TC_Contact.tearDown()[pri:0, instance:TestCases.TC_Contact@6a400542]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@384587033</td>   <td></td> </tr>
</table>
