<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87f783">  <td>21/04/16 00:42:45</td>   <td>0</td> <td title="&gt;&gt;TestCasesBase.setUp()[pri:0, instance:TestCases.CreateAnAccount@703580bf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422396878</td>   <td></td> </tr>
<tr bgcolor="bb9da7">  <td>21/04/16 00:42:45</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAnAccount.openAppOnBrowser()[pri:0, instance:TestCases.CreateAnAccount@703580bf]">&gt;&gt;openAppOnBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422396878</td>   <td></td> </tr>
<tr bgcolor="bb9da7">  <td>21/04/16 00:42:55</td>   <td>10015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAnAccount.CreateAcccountWithValidEmail(java.lang.reflect.Method)[pri:0, instance:TestCases.CreateAnAccount@703580bf]">CreateAcccountWithValidEmail</td> 
  <td>main@422396878</td>   <td></td> </tr>
<tr bgcolor="bb9da7">  <td>21/04/16 00:43:04</td>   <td>18836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAnAccount.create_Account_With_Invalid_EmailId(java.lang.reflect.Method)[pri:1, instance:TestCases.CreateAnAccount@703580bf]">create_Account_With_Invalid_EmailId</td> 
  <td>main@422396878</td>   <td></td> </tr>
<tr bgcolor="bb9da7">  <td>21/04/16 00:43:11</td>   <td>26302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAnAccount.test_capture_ScreenShot_For_Faild_TestCases(java.lang.reflect.Method)[pri:2, instance:TestCases.CreateAnAccount@703580bf]">test_capture_ScreenShot_For_Faild_TestCases</td> 
  <td>main@422396878</td>   <td></td> </tr>
<tr bgcolor="bb9da7">  <td>21/04/16 00:43:19</td>   <td>34393</td> <td>&nbsp;</td><td title="&lt;&lt;CreateAnAccount.tearDown()[pri:0, instance:TestCases.CreateAnAccount@703580bf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422396878</td>   <td></td> </tr>
</table>
